<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>生物测序实验管理系统</title>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/main.css" />
</head>
<body>

<div class="left-nav">
    <div class="left-nav-top">
        <div class="logo">
            <img src="images/syslogo.jpg" />
        </div>
        <div class="title">
            生物测序实验管理系统
        </div>
    </div>
    <div class="nav-title">
        导航
    </div>
    <div class="nav-content">
        <div class="nav-item">
            <a href="#">任务管理</a>
        </div>
        <div class="nav-item">
            <a href="#">样本管理</a>
        </div>
        <div class="nav-item">
            <a href="#">生产管理Lite</a>
        </div>
        <div class="nav-item">
            <a href="#">仪器监控</a>
        </div>
        <div class="nav-item">
            <a href="#">报告管理</a>
        </div>
        <div class="nav-item">
            <a href="#">其他</a>
        </div>
        <div class="nav-item">
            <a href="#">基础配置</a>
        </div>
    </div>
</div>

<div class="top-nav">
    <div class="top-nav-content">
        <div class="top-nav-item">
            <div class="item-icon icon0"></div>
            <div class="">首页</div>
        </div>
        <div class="top-nav-item">
            <div class="item-icon icon1"></div>
            <div class="item-title">实验室管理</div>
        </div>
        <div class="top-nav-item">
            <div class="item-icon icon2"></div>
            <div class="item-title">自动化分析</div>
        </div>
        <div class="top-nav-item">
            <div class="item-icon icon3"></div>
            <div class="item-title">数据治理</div>
        </div>
        <div class="top-nav-item">
            <div class="item-icon icon4"></div>
            <div class="item-title">应用市场</div>
        </div>
        <div class="top-nav-item">
            <div class="item-icon icon5"></div>
            <div class="item-title">样本管理</div>
        </div>
        <div class="top-nav-item">
            <div class="item-icon icon6"></div>
            <div class="item-title">科研管理</div>
        </div>
        <div class="top-nav-item">
            <div class="item-icon icon7"></div>
            <div class="item-title">系统管理</div>
        </div>
    </div>
</div>

<div class="container">

</div>

</body>
</html>
